<%= form_for(@teaching_material) do |f| %>
  <% if @teaching_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_material.errors.count, "error") %> prohibited this teaching_material from being saved:</h2>

      <ul>
      <% @teaching_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :name, '名称' %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :exam_list, '考试' %>
		<%= f.text_field :exam_list %>
	</p>
	<p>
		<%= f.label :subject_list, '科目' %>
		<%= f.text_field :subject_list %>
	</p>

  <div class="actions">
    <%= f.submit "保存"%>
  </div>
<% end %>
