<h1>Listing word_meanings</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Meaning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @word_meanings.each do |word_meaning| %>
  <tr>
    <td><%= word_meaning.word_id %></td>
    <td><%= word_meaning.meaning_id %></td>
    <td><%= link_to 'Show', word_meaning %></td>
    <td><%= link_to 'Edit', edit_word_meaning_path(word_meaning) %></td>
    <td><%= link_to 'Destroy', word_meaning, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%=h will_paginate @words, :previous_label => '上一页',  :next_label => '下一页'%>
