<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word_meaning.word_id %>
</p>

<p>
  <b>Meaning:</b>
  <%= @word_meaning.meaning_id %>
</p>


<%= link_to 'Edit', edit_word_meaning_path(@word_meaning) %> |
<%= link_to 'Back', word_meanings_path %>
