<p>学员过程追踪管理-学生列表</p>
<h5>
<%= link_to '快捷查询', view_students_path %>  |  
<%= link_to '我的学生', my_students_path %>	|
<%= link_to '补交成绩', result_delay_students_path %> |
<%= link_to '试卷管理', papers_path %>
</h5>
<br/>

<h6>现有督导:</h6>
<div>
	<% @active_jpms.each do |single_jpm| %>
	<%= link_to single_jpm.name, students_by_jpm_path(single_jpm) %>
	<% end %>
</div>
<h6>现有客户经理:</h6>
<div>
	<% @active_spms.each do |single_spm| %>
	<%= link_to single_spm.name, students_by_spm_path(single_spm) %>
	<% end %>
</div>
	
<div class="common_table">
<table border="1" cellspacing="5" cellpadding="5">
	<tr>
		<th>姓名</th>
		<th>邮箱</th>
		<th>督导</th>
		<th>客户经理</th>
		<th>成绩管理</th>
		<th>考勤管理</th>
		<th>附加属性</th>
		<th>计划</th>
		<th>单词考试</th>
        <th>单词成绩</th>
	</tr>

<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name, student_path(user) %></td>
		<td><%= link_to user.email, student_path(user) %></td>
		<td>
			
			<% if user.jpm %>
				<%= user.jpm.name%>
			<% else %>
				<a href="/students/<%= user.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
		<td>
			<% if user.spm %>
				<%= user.spm.name%>
			<% else %>
				<a href="/students/<%= user.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
		<td><a href="/students/<%= user.id %>/results">成绩管理</a></td>
		<td><a href="/students/<%= user.id %>/student_timelines">时间管理</a></td>
		<td><%= link_to "附加属性" , student_ext_attributes_path(user) %></td>
		<td><%= link_to "学习计划管理", student_dairy_plans_path(user) %></td>
		<td><%= link_to "单词考试", student_exams_path(user) %></td>
        <td><%= link_to "单词成绩", student_result_papers_path(user) %></td>
	</tr>
<% end %>

</table>
</div>
<%=h will_paginate @users, :previous_label => '上一页',  :next_label => '下一页'%>
