<h1>我的学生列表</h1>
<h6>
	快速链接:
<%= link_to '快捷查询', view_students_path %>  |  
<%= link_to '我的学生', my_students_path %>	|
<%= link_to '补交成绩', result_delay_students_path %>
</h6>
<hr>

<div class="common_table">
<table border="1" cellspacing="5" cellpadding="5">
	<tr>
		<th>姓名</th>
		<th>邮箱</th>
		<th>督导</th>
		<th>客户经理</th>
		<th>成绩管理</th>
		<th>考勤管理</th>
		<th>计划</th>
	</tr>

<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name, student_path(user) %></td>
		<td><%= link_to user.email, student_path(user) %></td>
		<td>
			
			<% if user.jpm %>
				<%= user.jpm.name%>
			<% else %>
				<a href="/students/<%= user.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
		<td>
			<% if user.jpm %>
				<%= user.spm.name%>
			<% else %>
				<a href="/students/<%= user.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
		<td><a href="/students/<%= user.id %>/results">成绩管理</a></td>
		<td><a href="/students/<%= user.id %>/student_timelines">时间管理</a></td>
		<td><%= link_to "学习计划管理", student_dairy_plans_path(user) %></td>
	</tr>
<% end %>

</table>
</div>
<%=h will_paginate @users, :previous_label => '上一页',  :next_label => '下一页'%>