<h1>有延迟提交成绩的列表</h1>

<table border="1" cellspacing="5" cellpadding="5">
	<tr>
		<th>上课时间</th>
		<th>姓名</th>
		<th>督导</th>
		<th>单词A</th>
		<th>单词B</th>
		<th>听力A</th>
		<th>写作A</th>
		<th>阅读A</th>
		<th>口语A</th>
		<th>听力B</th>
		<th>写作B</th>
		<th>阅读B</th>
		<th>口语B</th>
		<th>延时</th>
		<th>原因</th>
		<th>操作</th>
	</tr>
<% @results.each do |result| %>
	<tr>
		<td><% if result.result_date %><%= result.result_date.strftime('%Y-%m-%d') %><% end %></td>
		<td><%= link_to result.student.name, student_path(result.student) %></td>
		<td><%= result.student.jpm ? result.student.jpm.name : "未分配" %></td>
		<td><%= result.words_score1 %></td>
		<td><%= result.words_score2 %></td>
		<td><%= result.listen_words_score1 %></td>
		<td><%= result.write_words_score1 %></td>
		<td><%= result.read_words_score1 %></td>
		<td><%= result.spoken_words_score1 %></td>
		<td><%= result.listen_score1 %></td>
		<td><%= result.write_score1 %></td>
		<td><%= result.read_score1 %></td>
		<td><%= result.spoken_score1 %></td>
		<td><%= result.has_exception ? result.has_exception_str : "" %></td>
		<td><%= result.exception_type ? result.exception : "" %></td>
		<td>
			<%= link_to '查看', student_result_path(result.student,result) %> |
			<%= link_to '编辑', edit_student_result_path(result.student,result) %>
		</td>
	</tr>
<% end %>
</table>
<br/>
<%=h will_paginate @results, :previous_label => '上一页',  :next_label => '下一页'%>