<script>
	$(document).ready(function() {
	  // 隐藏所有的选择
	  $("#course_material_select").hide();
	  $("#word_material_select").hide();
	  $("input[name='course_content[action_type]']").change(function() {	  
		  var selectedvalue = $("input[name='course_content[action_type]']:checked").val();
		  //alert('Handler for .change() called.' + selectedvalue);
		  if (selectedvalue == 1){
			$("#course_material_select").show();
			$("#word_material_select").hide();
			$("#edit_course_content_<%= @course_content.id %>").relatedSelects({
			    onChangeLoad: '<%= Xmadweb::Application.config.host_url %>/teaching_materials/tagselect',
			    selects: ['s_course_exam_type', 's_teaching_material_tag_name', 's_lesson_tag_name']
			});
		  } else if (selectedvalue == 2) {
			$("#course_material_select").hide();
			$("#word_material_select").show();
			$("#edit_course_content_<%= @course_content.id %>").relatedSelects({
			    onChangeLoad: '<%= Xmadweb::Application.config.host_url %>/teaching_materials/tagselect',
			    selects: ['s_word_exam_type', 's_word_material_tag_name', 's_word_lesson_tag_name']
			});
		  } else {
			$("#course_material_select").hide();
			$("#word_material_select").hide();
		  }
		  
		});
	});
</script>
<h1>为<%= @student.name%>安排课程内容  重新编辑</h1>

<h6>
	快速链接:
	<%= link_to '返回日计划', student_dairy_plan_path(@student,@dairy_plan) %>
	|
	<%= link_to '删除此安排', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content), confirm: 'Are you sure?', method: :delete %>	
</h6>

<hr>

<%= form_for([@student,@dairy_plan,@course_content], :url => student_dairy_plan_course_content_path(@student,@dairy_plan,@course_content)) do |f| %>
  <% if @course_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_content.errors.count, "error") %> prohibited this course_content from being saved:</h2>

      <ul>
      <% @course_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag("course_content[course_num]", @course_num) %>

  <p><h5>上课日期:<%= @dairy_plan.plan_date.strftime('%Y-%m-%d')%></h5></p>
  <p>
	<h6>选择内容安排</h6>	
  	<%= f.radio_button(:action_type, 1) %>
	<%= f.label :action_type, "上课" %>
	<%= f.radio_button(:action_type, 2) %>
	<%= f.label :action_type, "背单词" %>
	<%= f.radio_button(:action_type, 3) %>
	<%= f.label :action_type, "写作业" %>
	<%= f.radio_button(:action_type, 4) %>
	<%= f.label :action_type, "测试" %>
  </p>

  
  
  <!-- 如果选择上课 显示这个 -->
  <div id="course_material_select">
  	  <p>
		<h6>选择上课教材</h6>
		<span>考试:</span>
		<select id="s_course_exam_type" name="s_course_exam_type">
			<option value selected="selected">选择一个考试</option>
			<% @teaching_exam_tags.each do |teaching_exam_tag| %>
			<option value="<%= teaching_exam_tag %>"><%= teaching_exam_tag %></option>
			<% end %>
		</select>
		
		<span>教材:</span>
		<select id="s_teaching_material_tag_name" name="s_teaching_material_tag_name" disabled>
			<option value selected="selected">选择一个教材</option>
		</select>
		<span>课程:</span>
		<select id="s_lesson_tag_name" name="s_lesson_tag_name" disabled>
			<option value selected="selected">选择一个课程</option>
		</select>
	  </p>
	  <p>
		<h6>选择老师</h6>
		<% @teachers.each do |teacher| %>	
	  	<%= f.radio_button(:teacher_id, teacher.id) %>
		<%= f.label :teacher_id, teacher.name %>
		<% end %>
	  </p>	
  </div>

  <!-- 如果选择上课 显示这个 -->
  <div id="word_material_select">
  	  <p>
		<h6>选择单词教材</h6>
		<span>考试:</span>
		<select id="s_word_exam_type" name="s_word_exam_type">
			<option value selected="selected">选择一个考试</option>
			<% @teaching_exam_tags.each do |teaching_exam_tag| %>
			<option value="<%= teaching_exam_tag %>"><%= teaching_exam_tag %></option>
			<% end %>
		</select>
		
		<span>词汇书:</span>
		<select id="s_word_material_tag_name" name="s_word_material_tag_name" disabled>
			<option value selected="selected">选择一个词汇书</option>
		</select>
		<span>组:</span>
		<select id="s_word_lesson_tag_name" name="s_word_lesson_tag_name" disabled>
			<option value selected="selected">选择一组</option>
		</select>
	  </p>	
  </div>
  <p>
		<%= f.label :notes	, '备注信息' %>
		<br/>
		<%= f.text_area  :notes, :cols => 100, :rows => 10 %>	
  </p>
  
  <div class="actions">
    <%= f.submit "保存"%>
  </div>
<% end %>




