<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @result_word.word_id %>
</p>

<p>
  <b>Result paper:</b>
  <%= @result_word.result_paper_id %>
</p>

<p>
  <b>Is right:</b>
  <%= @result_word.is_right %>
</p>

<p>
  <b>Answer:</b>
  <%= @result_word.answer %>
</p>

