<h1>所有学生的成绩 按日查询</h1>

<table border="1" cellspacing="5" cellpadding="5">
	<tr>
		<th>日期</th>
		<th>姓名</th>
		<th>督导</th>
		<th>单词A</th>
		<th>单词B</th>
		<th>听力A</th>
		<th>写作A</th>
		<th>阅读A</th>
		<th>口语A</th>
		<th>听力B</th>
		<th>写作B</th>
		<th>阅读B</th>
		<th>口语B</th>
		<th>延时</th>
		<th>原因</th>
		<th>操作</th>
	</tr>
	<%  
		total_words_score1 = 0
		total_words_num1 = 0
		total_words_score2 = 0
		total_words_num2 = 0
	%>
<% @results.each do |result| %>
	<tr>
		<td><% if result.result_date %><%= result.result_date.strftime('%Y-%m-%d') %><% end %></td>
		<td><%= link_to result.student.name, student_path(result.student) %></td>
		<td><%= result.student.jpm ? result.student.jpm.name : "未分配" %></td>
		<td><%= result.words_score1 %></td>
		<td><%= result.words_score2 %></td>
		<td><%= result.listen_words_score1 %></td>
		<td><%= result.write_words_score1 %></td>
		<td><%= result.read_words_score1 %></td>
		<td><%= result.spoken_words_score1 %></td>
		<td><%= result.listen_score1 %></td>
		<td><%= result.write_score1 %></td>
		<td><%= result.read_score1 %></td>
		<td><%= result.spoken_score1 %></td>
		<td><%= result.has_exception ? result.has_exception_str : "" %></td>
		<td><%= result.exception_type ? result.exception : "" %></td>
		<td>
			<%= link_to '查看', student_result_path(result.student,result) %> |
			<%= link_to '编辑', edit_student_result_path(result.student,result) %>
		</td>
	</tr>
	<% 
		if result.words_score1 
			total_words_score1 += result.words_score1
			total_words_num1 += 1
 		end
		if result.words_score2 
			total_words_score2 += result.words_score2
			total_words_num2 += 1
 		end 
	%>
<% end %>
</table>

<h6>单词A的平均成绩<%= (total_words_num1 != 0) ? (total_words_score1/total_words_num1).to_i : 0%></h6>
<h6>单词B的平均成绩<%= (total_words_num2 != 0) ? (total_words_score2/total_words_num2).to_i : 0%></h6>