<h1>编辑<%= link_to @student.name, student_path(@student) %>的成绩</h1>

	<script>
		$(function() {
			$( "#datepicker" ).datepicker();
			$( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
			<% if @result.result_date %>
			$( "#datepicker" ).datepicker("setDate",'<%= @result.result_date.strftime('%Y-%m-%d') %>');
			
			<% end %>
			
		});
	</script>
<%= form_for([@student,@result], :url => student_result_path(@student,@result)) do |f| %>

  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
	
    </div>
  <% end %>
	<p>
	<%= f.label :words_score1	, '单词课前测' %>
	<%= f.text_field :words_score1	 %>
	</p>
	<p>
	<%= f.label :words_score2	, '单词课后测' %>
	<%= f.text_field :words_score2	 %>
	</p>
	<p>
	<%= f.label :listen_words_score1	, '听力单词测' %>
	<%= f.text_field :listen_words_score1	 %>
	</p>
	<p>
	<%= f.label :write_words_score1	, '写作单词测' %>
	<%= f.text_field :write_words_score1	 %>
	</p>
	<p>
	<%= f.label :read_words_score1	, '阅读单词测' %>
	<%= f.text_field :read_words_score1	 %>
	</p>
	<p>
	<%= f.label :spoken_words_score1	, '口语单词测' %>
	<%= f.text_field :spoken_words_score1	 %>
	</p>
	<p>
	<%= f.label :listen_score1	, '听力课后测' %>
	<%= f.text_field :listen_score1	 %>
	</p>
	<p>
	<%= f.label :write_score1	, '写作课后测' %>
	<%= f.text_field :write_score1	 %>
	</p>
	<p>
	<%= f.label :read_score1	, '阅读课后测' %>
	<%= f.text_field :read_score1	 %>
	</p>
	<p>
	<%= f.label :spoken_score1	, '口语课后测' %>
	<%= f.text_field :spoken_score1	 %>
	</p>
	
	<p>
	<%= f.label :has_exception, "是否有延迟测试" %>
	<%= f.select(:has_exception, options_for_select({"没有" => "0","有" => "1"}, @result.has_exception ? @result.has_exception : 0) ) %>
	</p>
	
	<p>
	<%= f.label :exception_type, "成绩延迟原因" %>
	<%= f.select(:exception_type, options_for_select({"没有延迟" => "0", "老师未发邮件" => "1","学生未完成" => "2","学生异常" => "3", "测试时间为第二天或者推迟" => "4", "其他" => "5"},  @result.exception_type ?  @result.exception_type : 0) ) %>
	</p>
	
	<p>
		<%= f.label :remark	, '未出成绩说明(请填写科目,任课老师等等信息,如果学生异动,请补充说明)' %>
		<br/>
		<%= f.text_area  :remark, :cols => 100, :rows => 10 %>	
	</p>
	
	<p>
		<%= f.check_box  :exception_handle%>
		<%= f.label :exception_handle	, '补交完毕,或不再处理,直接关闭' %>			
	</p>
	
	<p>日期: <input type="text" id="datepicker" name="result[result_date]" ></p>

  <div class="actions">
    <%= f.submit '保存' %>
  </div>
<% end %>

<%= link_to '显示', student_result_path(@student,@result) %> |
<%= link_to '返回所有成绩', student_results_path(@student) %>
