<h1>编辑计划-<%= link_to @student.name, student_path(@student) %></h1>
<h6>
	快速链接:
	
	<%= link_to '查看具体', student_dairy_plan_path(@student,@dairy_plan) %> 
	|
	<%= link_to '所有学习计划', student_dairy_plans_path(@student) %>
</h6>

<hr>
<script>
	$(function() {
		$( "#datepicker" ).datepicker();
		$( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
		<% if @dairy_plan.plan_date %>
		$( "#datepicker" ).datepicker("setDate",'<%= @dairy_plan.plan_date.strftime('%Y-%m-%d') %>');
		
		<% end %>
	});
</script>
<%= form_for([@student,@dairy_plan], :url => student_dairy_plan_path(@student,@dairy_plan)) do |f| %>

  <% if @dairy_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dairy_plan.errors.count, "error") %> prohibited this dairy_plan from being saved:</h2>

      <ul>
      <% @dairy_plan.errors.full_messages.each do |msg| %>-
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>日期: <input type="text" id="datepicker" name="dairy_plan[plan_date]"></p>
  <p>
		<%= f.label :notes	, '备注信息' %>
		<br/>
		<%= f.text_area  :notes, :cols => 100, :rows => 10 %>	
  </p>	
  <div class="actions">
    <%= f.submit '保存' %>
  </div>
<% end %>


