<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
			$('#plan_calendar').fullCalendar({
				//editable: true,
				theme: true,
				timeFormat: 'H(:mm){ - H(:mm)}',
				axisFormat: 'H:mm TT',
				allDayText: "全天",
				buttonText:{
				     prev:     '向前',
				     next:     '向后',
				     prevYear: '去年',
				     nextYear: '明年',
				     today:    '今天',
				     month:    '月',
				     week:     '周',
				     day:      '日'
				},
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				dayNames: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				dayNamesShort: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				eventSources: [
					{
						url: '<%= get_plan_json_for_exam_student_dairy_plans_url(@student)%>', // use the `url` property
			            color: 'yellow',    // an option!
			            textColor: 'black'  // an option
					},
					{
						url: '<%= get_plan_json_for_mockexam_student_dairy_plans_url(@student)%>', // use the `url` property
			            color: 'brown',    // an option!
			            textColor: 'white'  // an option
					},
					{
						url: '<%= get_result_json_student_dairy_plans_url(@student)%>', // use the `url` property
			            color: 'Violet',    // an option!
			            textColor: 'white'  // an option
					},
					{
						url: '<%= get_plan_json_student_dairy_plans_url(@student)%>', // use the `url` property
					}
				],
				//events: "<%= get_plan_json_student_dairy_plans_url(@student)%>",
				loading: function(bool) {
					if (bool) $('#loading').show();
					else $('#loading').hide();
				}
			});
		});
</script>

<h1>所有<%= @student.name%>的学习计划</h1>

<h6>
	快速链接: 
	<%= link_to '新建学习计划', new_student_dairy_plan_path(@student) %>
</h6>


<hr>

	<div class="common_table">
		<table border="1" cellspacing="0" cellpadding="0">
			<tr>
				<th>科目</th>
				<th>总课时</th>
				<th>已消耗</th>
				<th>剩余课时数</th>
			</tr>
			<% if @stu_ext %>
			
			<tr>
				<td>全部</td>
				<td><%= @stu_ext.total_class_count  %></td>
				<td><%= @sp_count["total"] %></td>
				<td><%= @stu_ext.total_class_count - @sp_count["total"] %></td>
			</tr>
			<tr>
				<td>听力</td>
				<td><%= @stu_ext.listen_course_count %></td>
				<td><%= @sp_count["listen"] %></td>
				<td><%= @stu_ext.listen_course_count - @sp_count["listen"] %></td>
			</tr>
			<tr>
				<td>阅读</td>
				<td><%= @stu_ext.read_course_count %></td>
				<td><%= @sp_count["read"] %></td>
				<td><%= @stu_ext.read_course_count - @sp_count["read"] %></td>
			</tr>
			<tr>
				<td>写作</td>
				<td><%= @stu_ext.write_course_count %></td>
				<td><%= @sp_count["write"] %></td>
				<td><%= @stu_ext.write_course_count - @sp_count["write"] %></td>
			</tr>
			<tr>
				<td>口语</td>
				<td><%= @stu_ext.speak_course_count %></td>
				<td><%= @sp_count["speak"] %></td>
				<td><%= @stu_ext.speak_course_count - @sp_count["speak"] %></td>
			</tr>
			<% else %>
			<tr>
				<td>未初始化</td>
				<td>未初始化</td>
				<td>未初始化</td>
				<td><%= link_to "现在初始化" , student_ext_attributes_path(@student) %></td>
			</tr>
			<% end %>
		</table>	
	</div>
	

<div id='loading' style='display:none'>loading...</div>
<div id="plan_calendar">
