<%
	# 获取当天的日期和javascript的进行互换
	current_date_sec = @dairy_plan.plan_date.to_f*1000	
%>
<!-- 日历视图 -->
<% if !@simple_view %>
<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			
			var date = new Date(<%= current_date_sec%>);
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();

			$('#plan_calendar').fullCalendar({				
				header: {					
					center: 'title',
					right:  ''
				},
				defaultView: 'agendaDay',
				year: y,
				month: m,
				date: d,
				theme: true,
				timeFormat: 'H(:mm){ - H(:mm)}',
				axisFormat: 'H:mm TT',
				allDayText: "全天",
				buttonText:{
				     prev:     '向前',
				     next:     '向后',
				     prevYear: '去年',
				     nextYear: '明年',
				     today:    '今天',
				     month:    '月',
				     week:     '周',
				     day:      '日'
				},
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月',
				 '八月', '九月', '十月', '十一月', '十二月'],
				dayNames: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				dayNamesShort: ['周日', '周一', '周二', '周三',
				 '周四', '周五', '周六'],
				events: [
				<% if @course_content_1 %>
					{
						id: 1,
						title: "<%= @course_content_1.action_name %>"
						<% if @course_content_1.action_type == 1 %>	
							+ " - <%= @course_content_1.teaching_material.name %>(<%= @course_content_1.teaching_material.code %>) - <%= @course_content_1.teaching_lesson.name %>"
						<% elsif @course_content_1.action_type == 2 %>
							+ " - <%= @course_content_1.word_material.name %>(<%= @course_content_1.word_material.code %>) - <%= @course_content_1.word_lesson.name %>"
						<% end %>
							,
						start: new Date(y, m, d, 8, 30),
						end: new Date(y, m, d, 10, 30),
						url: "<%= edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_1, :course_num => 1) %>",
						allDay: false
					},
				<% else %>
					{
						id: 1,
						title: "没有安排",
						start: new Date(y, m, d, 8, 30),
						end: new Date(y, m, d, 10, 30),
						url: "<%= new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 1) %>",
						color: '#ADADAD',
						allDay: false
					},		  
				<% end %>
				<% if @course_content_2 %>
					{
						id: 2,
						title: "<%= @course_content_2.action_name %>"
						<% if @course_content_2.action_type == 1 %>	
							+ " - <%= @course_content_2.teaching_material.name %>(<%= @course_content_2.teaching_material.code %>) - <%= @course_content_2.teaching_lesson.name %>"
						<% elsif @course_content_2.action_type == 2 %>
							+ " - <%= @course_content_2.word_material.name %>(<%= @course_content_2.word_material.code %>) - <%= @course_content_2.word_lesson.name %>"
						<% end %>
							,
						start: new Date(y, m, d, 10, 40),
						end: new Date(y, m, d, 12, 40),
						url: "<%= edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_2, :course_num => 2) %>",
						allDay: false
					},
				<% else %>
					{
						id: 2,
						title: "没有安排",
						start: new Date(y, m, d, 10, 40),
						end: new Date(y, m, d, 12, 40),
						url: "<%= new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 2) %>",
						color: '#ADADAD',
						allDay: false
					},		  
				<% end %>
				<% if @course_content_3 %>
					{
						id: 3,
						title: "<%= @course_content_3.action_name %>"
						<% if @course_content_3.action_type == 1 %>	
							+ " - <%= @course_content_3.teaching_material.name %>(<%= @course_content_3.teaching_material.code %>) - <%= @course_content_3.teaching_lesson.name %>"
						<% elsif @course_content_3.action_type == 2 %>
							+ " - <%= @course_content_3.word_material.name %>(<%= @course_content_3.word_material.code %>) - <%= @course_content_3.word_lesson.name %>"
						<% end %>
							,
						start: new Date(y, m, d, 13, 30),
						end: new Date(y, m, d, 15, 30),
						url: "<%= edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_3, :course_num => 3) %>",
						allDay: false
					},
				<% else %>
					{
						id: 3,
						title: "没有安排",
						start: new Date(y, m, d, 13, 30),
						end: new Date(y, m, d, 15, 30),
						url: "<%= new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 3) %>",
						color: '#ADADAD',
						allDay: false
					},		  
				<% end %>
				<% if @course_content_4 %>
					{
						id: 4,
						title: "<%= @course_content_4.action_name %>"
						<% if @course_content_4.action_type == 1 %>	
							+ " - <%= @course_content_4.teaching_material.name %>(<%= @course_content_4.teaching_material.code %>) - <%= @course_content_4.teaching_lesson.name %>"
						<% elsif @course_content_4.action_type == 2 %>
							+ " - <%= @course_content_4.word_material.name %>(<%= @course_content_4.word_material.code %>) - <%= @course_content_4.word_lesson.name %>"
						<% end %>
							,
						start: new Date(y, m, d, 16, 30),
						end: new Date(y, m, d, 18, 30),
						url: "<%= edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_4, :course_num => 4) %>",
						allDay: false
					},
				<% else %>
					{
						id: 4,
						title: "没有安排",
						start: new Date(y, m, d, 16, 30),
						end: new Date(y, m, d, 18, 30),
						url: "<%= new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 4) %>",
						color: '#ADADAD',
						allDay: false
					},		  
				<% end %>
				<% if @course_content_5 %>
					{
						id: 5,
						title: "<%= @course_content_5.action_name %>"
						<% if @course_content_5.action_type == 1 %>	
							+ " - <%= @course_content_5.teaching_material.name %>(<%= @course_content_5.teaching_material.code %>) - <%= @course_content_5.teaching_lesson.name %>"
						<% elsif @course_content_5.action_type == 2 %>
							+ " - <%= @course_content_5.word_material.name %>(<%= @course_content_5.word_material.code %>) - <%= @course_content_5.word_lesson.name %>"
						<% end %>
							,
						start: new Date(y, m, d, 18, 40),
						end: new Date(y, m, d, 20, 40),
						url: "<%= edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_5, :course_num => 5) %>",
						allDay: false
					}
				<% else %>
					{
						id: 5,
						title: "没有安排",
						start: new Date(y, m, d, 18, 40),
						end: new Date(y, m, d, 20, 40),
						url: "<%= new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 5) %>",
						color: '#ADADAD',
						allDay: false
					}		  
				<% end %>
				]
			});

		});
</script>
<% end %>
<!-- end 日历视图 -->

<h1>教学计划 - <%= @student.name %> - <%= @dairy_plan.plan_date.strftime('%Y-%m-%d') %></h1>

<h6>
	快速链接: 
	<% if @simple_view %><%= link_to '日历形式查看', student_dairy_plan_path(@student, @dairy_plan, :cal => 1) %><% else %><%= link_to '简版', student_dairy_plan_path(@student, @dairy_plan) %><% end %>
	|
	<%= link_to '返回', student_dairy_plans_path(@student) %> 
	|
	<%= link_to '编辑', edit_student_dairy_plan_path(@student,@dairy_plan) %>
	|
	<%= link_to '新建', new_student_dairy_plan_path(@student) %>
	|
	<%= link_to '删除', student_dairy_plan_path(@student, @dairy_plan), confirm: '确定删除?所有计划内容也将删除!!', method: :delete %>
</h6>

<hr>

<!-- 日历 -->
<div id="plan_calendar"></div>

<!-- 简单表格视图 -->
<% if @simple_view %>
<div class="common_table">
	<table border="1" cellspacing="0" cellpadding="0">
			<tr>
				<th>课程时间安排</th>
				<th>计划的内容安排</th>
				<th>备注</th>
				<th>老师</th>
				<th>操作</th>
			</tr>

			<tr>
				<td>
					第一节课
				</td>
				<td>
				<% if @course_content_1 %>
				<span class="red"><%= @course_content_1.action_name %></span>
					<% if @course_content_1.action_type == 1 %>	
					-
						<%= @course_content_1.teaching_material.name %> 
						(<%= @course_content_1.teaching_material.code %>)
						-
						<%= @course_content_1.teaching_lesson.name %>
					<% elsif @course_content_1.action_type == 2 %>
					-
						<%= @course_content_1.word_material.name %>
						(<%= @course_content_1.word_material.code %>)
						-
						<%= @course_content_1.word_lesson.name %>
					<% end %>
				<% else %>
				  <%= link_to "现在安排", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 1) %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_1 %>
				<%= @course_content_1.notes %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_1 %>
				<%= @course_content_1.teacher ? @course_content_1.teacher.name : "" %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_1 %>
					<%= link_to "编辑", edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_1) %>
					|
					<%= link_to '删除', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content_1), confirm: 'Are you sure?', method: :delete %>
				<% else %>
				  	<%= link_to "创建", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 1) %>
				<% end %>
				</td>
			</tr>
			<tr>
				<td>
					第二节课
				</td>
				<td>
				<% if @course_content_2 %>
				<span class="red"><%= @course_content_2.action_name %></span>
					<% if @course_content_2.action_type == 1 %>	
					-
						<%= @course_content_2.teaching_material.name %> 
						(<%= @course_content_2.teaching_material.code %>)
						-
						<%= @course_content_2.teaching_lesson.name %>
					<% elsif @course_content_2.action_type == 2 %>
					-
						<%= @course_content_2.word_material.name %>
						(<%= @course_content_2.word_material.code %>)
						-
						<%= @course_content_2.word_lesson.name %>
					<% end %>
				<% else %>
				  <%= link_to "现在安排", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 2) %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_2 %>
				<%= @course_content_2.notes %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_2 %>
				<%= @course_content_2.teacher ? @course_content_2.teacher.name : "" %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_2 %>
					<%= link_to "编辑", edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_2) %>
					|
					<%= link_to '删除', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content_2), confirm: 'Are you sure?', method: :delete %>
				<% else %>
				  	<%= link_to "创建", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 2) %>
				<% end %>
				</td>
			</tr>
			<tr>
				<td>
					第三节课
				</td>
				<td>
				<% if @course_content_3 %>
				<span class="red"><%= @course_content_3.action_name %></span>
					<% if @course_content_3.action_type == 1 %>	
					-
						<%= @course_content_3.teaching_material.name %> 
						(<%= @course_content_3.teaching_material.code %>)
						-
						<%= @course_content_3.teaching_lesson.name %>
					<% elsif @course_content_3.action_type == 2 %>
					-
						<%= @course_content_3.word_material.name %>
						(<%= @course_content_3.word_material.code %>)
						-
						<%= @course_content_3.word_lesson.name %>
					<% end %>
				<% else %>
				  <%= link_to "现在安排", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 3) %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_3 %>
				<%= @course_content_3.notes %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_3 %>
				<%= @course_content_3.teacher ? @course_content_3.teacher.name : "" %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_3 %>
					<%= link_to "编辑", edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_3) %>
					|
					<%= link_to '删除', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content_3), confirm: 'Are you sure?', method: :delete %>
				<% else %>
				  	<%= link_to "创建", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 3) %>
				<% end %>
				</td>
			</tr>
			<tr>
				<td>
					第四节课
				</td>
				<td>
				<% if @course_content_4 %>
				<span class="red"><%= @course_content_4.action_name %></span>
					<% if @course_content_4.action_type == 1 %>	
					-
						<%= @course_content_4.teaching_material.name %> 
						(<%= @course_content_4.teaching_material.code %>)
						-
						<%= @course_content_4.teaching_lesson.name %>
					<% elsif @course_content_4.action_type == 2 %>
					-
						<%= @course_content_4.word_material.name %>
						(<%= @course_content_4.word_material.code %>)
						-
						<%= @course_content_4.word_lesson.name %>
					<% end %>
				<% else %>
				  <%= link_to "现在安排", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 4) %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_4 %>
				<%= @course_content_4.notes %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_4 %>
				<%= @course_content_4.teacher ? @course_content_4.teacher.name : "" %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_4 %>
					<%= link_to "编辑", edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_4) %>
					|
					<%= link_to '删除', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content_4), confirm: 'Are you sure?', method: :delete %>
				<% else %>
				  	<%= link_to "创建", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 4) %>
				<% end %>
				</td>
			</tr>
			<tr>
				<td>
					第五节课
				</td>
				<td>
				<% if @course_content_5 %>
				<span class="red"><%= @course_content_5.action_name %></span>	
					<% if @course_content_5.action_type == 1 %>	
						-
						<%= @course_content_5.teaching_material.name %> 
						(<%= @course_content_5.teaching_material.code %>)
						-
						<%= @course_content_5.teaching_lesson.name %>
					<% elsif @course_content_5.action_type == 2 %>
						-
						<%= @course_content_5.word_material.name %>
						(<%= @course_content_5.word_material.code %>)
						-
						<%= @course_content_5.word_lesson.name %>
					<% end %>
				<% else %>
				  <%= link_to "现在安排", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 5) %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_5 %>
				<%= @course_content_5.notes %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_5 %>
				<%= @course_content_5.teacher ? @course_content_5.teacher.name : "" %>
				<% end %>	
				</td>
				<td>
				<% if @course_content_5 %>
					<%= link_to "编辑", edit_student_dairy_plan_course_content_url(@student,@dairy_plan,@course_content_5) %>
					|
					<%= link_to '删除', student_dairy_plan_course_content_path(@student, @dairy_plan, @course_content_5), confirm: 'Are you sure?', method: :delete %>
				<% else %>
				  	<%= link_to "创建", new_student_dairy_plan_course_content_url(@student,@dairy_plan,:course_num => 5) %>
				<% end %>
				</td>
			</tr>
	</table>
</div>
<% end %>
<hr>
<div>
<h5>其他信息</h5>
<div class="common_table">
<table border="1" cellspacing="0" cellpadding="0">
	<tr>
		<td>日期</td>
		<td><%= @dairy_plan.plan_date.strftime('%Y-%m-%d') %></td>
	</tr>
	<tr>
		<td>学生</td>
		<td><%= link_to @student.name, student_path(@student) %></td>
	</tr>
	<tr>
		<td>jpm</td>
		<td>
			<% if @student.jpm %>
				<%= @student.jpm.name %>
			<% else %>
				<a href="/students/<%= @student.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>spm</td>
		<td>
			<% if @student.spm %>
				<%= @student.spm.name%>
			<% else %>
				<a href="/students/<%= @student.id %>/student_distributes">现在分配</a>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>备注</td>
		<td><%= @dairy_plan.notes %></td>
	</tr>
</table>	
</div>
