<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  });
</script>
<%= form_for(@click) do |f| %>
  <% if @click.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@click.errors.count, "error") %> prohibited this click from being saved:</h2>

      <ul>
      <% @click.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tagname, "标签名称"%><br />
    <%= f.text_field :tagname %>
  </div>

  <div class="field">
    <%= f.label :clicks, "点击" %><br />
    <%= f.number_field :clicks %>
  </div>

  <div class="field">
    <%= f.label :category, "分类" %><br />
    <%= f.select(:category, TagCategory.where("id != uid").collect {|p| [ p.name, p.id ] })  %>
  </div>

  <div class="field">
    <%= f.label :page, "页面" %><br />
    <%= f.select(:page, WebPage.all.collect {|p| [ p.content, p.id ] })  %>
  </div>

  <div class="field">
    <%= f.label :position, "位置" %><br />
    <%= f.select(:position, Position.all.collect {|p| [ p.name, p.id ] })  %>
  </div>

  <div class="field">
    <%= f.label :campaign, "活动" %><br />
    <%= f.select(:campaign, Campaign.all.collect {|p| [ p.name, p.id ] })  %>
  </div>

  <div class="field">
    日期<br />
    <input type="text" id="datepicker" name="click[record_date]"> 
  </div>

  

  <div class="actions">
    <%= f.submit("Submit") %>
  </div>

<% end %>
