<h1>请选择活动</h1>
<%= link_to "返回", clicks_path%>
<%= form_tag("/clicks/save_campaign") do%>
  <table>
    <tr>
      <th>选择</th>
      <th>名称</th>
      <th>描述</th>
      <th></th>
      <th></th>
    </tr>

    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= radio_button_tag 'campaign', campaign.id%></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.description %></td>
      </tr>
    <% end %>
  </table>
  <%= hidden_field_tag 'click_id', @click %>
  <%= submit_tag("确定")%>
<% end %>