<h1>自然搜索流量</h1>
<%= link_to '返回', clicks_path %>
<h4>昨日共：<%= @count_triffs%>次访问</h4>
<table border='1'>
	<tr>
		<td>日期</td>
		<td>来源名称</td>
		<td>点击次数</td>
		<td>产品浏览</td>
		<td>转化率1</td>
		<td>乐语点击</td>
		<td>转化率2</td>
	</tr>
	<% @triffs.each do |t|%>
	<tr>
		<td><%= t.current_date%></td>
		<td><%= t.keyword %></td>
		<td><%= t.clicks%></td>
		<td><%= t.data1 %></td>
		<td>
			<% if t.data1 == 0 || t.rate1 == '0.0'%>
			0
			<% else %>
			<%= t.rate1%>%
			<% end %>
		</td>
		<td><%= t.data2 %></td>
		<td>
			<% if t.data2 == 0 || t.rate2 == '0.0'%>
			0
			<% else %>
			<%= t.rate2%>%
			<% end %>
		</td>
	</tr>
	<% end %>
</table>

<%=h will_paginate @triffs, :previous_label => '上一页',  :next_label => '下一页'%>