<%= form_tag(sum_campaign_clicks_path, :method => :get) do %>
  <%= render 'search'%>
<% end %>

<h1>活动统计总表</h1>
<%= link_to '返回', clicks_path %>
<table>
  <tr>
    <th>活动名称</th>
    <th>总点击量</th>
  </tr>

<% @all.each do |campaign| %>
  <tr>
    <td>
    	<% if campaign.campaign %>
    	<%=  link_to Campaign.find(campaign.campaign).name, "/campaigns/detail?id=#{campaign.campaign}" %>
    	<% else%>
    	no  data
    	<% end %>
    </td>
    <td title="详细"><%= number_with_precision(campaign.sum_campaign, :precision => 0) %></td>
  </tr>
<% end %>
</table>