<h1>考试结果列表</h1>

<table>
    <tr>
        <th>试卷名称</th>
        <th>考生</th>
        <th>分数</th>
        <th>正确率</th>
        <th>试卷状态</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <% @result_papers.each do |result_paper| %>
    <tr>
        <td><%= Paper.find(result_paper.paper_id).name %></td>
        <td><%= User.find(result_paper.user_id).name %></td>
        <td><%= result_paper.score %></td>
        <td><%= result_paper.rate %><%= (result_paper.rate== nil)?"":"%"%></td>
        <% exam = Exam.find(result_paper.exam_id) %>
        <% if exam.status == 0 %>
          <td><%="未开始" %></td>
          <td><%= link_to '查看试卷', student_result_paper_path(@student, result_paper) %></td>
        <% elsif exam.status == 1%>
          <td><%= "正在进行" %></td>
          <td><%= link_to '查看试卷', student_result_paper_path(@student, result_paper) %></td>
        <% elsif exam.status == 2%>
          <td><%= "已结束" %></td>
          <td><%= link_to '查看试卷', "/students/#{@student.id}/result_papers/#{result_paper.id}/result_words" %></td>
          <td><%= link_to '手动批改', edit_student_result_paper_path(@student, result_paper) %></td>
          <td><%= link_to '删除试卷', student_result_paper_path(@student, result_paper), confirm: 'Are you sure?', method: :delete %></td>
        <% elsif exam.status == 3%>
          <td><%= "已批改" %></td>
           <td><%= link_to '查看试卷', "/students/#{@student.id}/result_papers/#{result_paper.id}/result_words" %></td>
        <% else %>
          <td><%= "状态错误" %></td>
        <% end  %>
    </tr>
    <% end %>
</table>
<%=h will_paginate @result_papers, :previous_label => '上一页',  :next_label => '下一页'%>