<p>
	<h4>名称:</h4><%= @lesson.name %>
	<h4>编号:</h4><%= @lesson.code %>
	<h5>课程耗时:<%= @lesson.consuming_time %></h5>
	<h5>单词数量:<%= @lesson.wordcounts %></h5>
	<br>
</p>


<%= link_to '编辑', edit_teaching_material_lesson_path(@teaching_material,@lesson) %> |
<%= link_to '返回', teaching_material_lessons_path(@teaching_material) %>
