<%= form_for(@tag_category) do |f| %>
  <% if @tag_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_category.errors.count, "error") %> prohibited this tag_category from being saved:</h2>

      <ul>
      <% @tag_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名称"%><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uid, "上级"%><br />
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :description, "描述"%><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit("Submit") %>
  </div>
<% end %>
