<%= form_for(@vocabulary_exam) do |f| %>
  <% if @vocabulary_exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vocabulary_exam.errors.count, "error") %> prohibited this vocabulary_exam from being saved:</h2>

      <ul>
      <% @vocabulary_exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :child_id %><br />
    <%= f.number_field :child_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
