<h1>添加单词意思</h1>
<%= link_to "返回", word_path(@word) %>
<%= form_for([@word, @meaning]) do |f| %>
  <% if @meaning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meaning.errors.count, "error") %> prohibited this meaning from being saved:</h2>

      <ul>
      <% @meaning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    单词:<%= f.label :word_id, "#{@word.content}"%><br />
    <%= f.hidden_field(:word_id, :value => "#{@word.id}") %>
  </div>
  <div class="field" style="margin:15px;">
    <%= @word.meanings.size %>
    <% @word.meanings.each do |w| %>
<<<<<<< HEAD
      <div><%= w.content %></div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :content, "输入新意思："%>
    <%= f.text_field(:content, :value => "#{@content}") %>
=======
      <div>意思:<%= w.content %>  词性:<%= w.word_property_id %></div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :content, "添加新意思："%>
    <%= f.text_field(:content) %>
>>>>>>> feature/beidanci
  </div>
 
  <div class="field">
    <%= f.hidden_field(:is_confirmed, :value => 0) %>
  </div>

  <div class="actions">
    <%= f.submit "添加新意思" %>
  </div>
  <div>
<% end %>
