<h1>添加单词意思</h1>

<%= form_for(@meaning) do |f| %>
  <% if @meaning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meaning.errors.count, "error") %> prohibited this meaning from being saved:</h2>

      <ul>
      <% @meaning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    单词:<%= f.label :word_id, "#{@word.content}"%><br />
    <%= f.hidden_field(:word_id, :value => "#{@word.id}") %>
  </div>
  <div class="field">
    意思:<%= f.label :content, "#{@content}"%><br />
    <%= f.hidden_field(:content, :value => "#{@content}") %>
  </div>
  <div class="field">
    <%= f.hidden_field(:is_confirmed, :value => 0) %>
  </div>

  <div class="actions">
    <%= f.submit "添加" %>
  </div>
<% end %>
