<%= form_for(@tag_type) do |f| %>
  <% if @tag_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_type.errors.count, "error") %> prohibited this tag_type from being saved:</h2>

      <ul>
      <% @tag_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :descrition %><br />
    <%= f.text_area :descrition %>
  </div>
  <div class="field">
    <%= f.label :upid %><br />
    <%= f.number_field :upid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
