<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag_type.name %>
</p>

<p>
  <b>Descrition:</b>
  <%= @tag_type.descrition %>
</p>

<p>
  <b>Upid:</b>
  <%= @tag_type.upid %>
</p>


<%= link_to 'Edit', edit_tag_type_path(@tag_type) %> |
<%= link_to 'Back', tag_types_path %>
