<h1>Listing google_analytics</h1>

<table border="1">
  <tr>
    <th>日期</th>
    <th>唯一访问者</th>
    <th>浏览产品人数</th>
    <th>产品浏览页面数</th>
    <th>平均访问页面数</th>
    <th>目标1转化率</th>
    <th>产品停留时长(秒)</th>
    <th>产品页跳出率</th>
    <th>乐语点击量含qq</th>
    <th>目标2转化率</th>
    <th>Sat</th>
    <th>Toefl</th>
    <th>Gre</th>
    <th>Ielts</th>
    <th>Liuxue</th>
  </tr>

<% @google_analytics.each do |google_analytic| %>
  <tr>
    <td><%= google_analytic.current_date %></td>
    <td><%= google_analytic.unique_visitor %></td>
    <td><%= google_analytic.visit_product %></td>
    <td><%= google_analytic.product_page %></td>
    <td><%= google_analytic.average_page %></td>
    <td><%= google_analytic.conversion1 %></td>
    <td><%= google_analytic.stay_time %></td>
    <td><%= google_analytic.bounce_rate %></td>
    <td><%= google_analytic.click %></td>
    <td><%= google_analytic.conversion2 %></td>
    <td>
        <% if google_analytic.sat %>
        <%= link_to google_analytic.sat, "/google_analytics/show_traffic?dt=#{google_analytic.current_date}&t=0"%>
        <% end %>
    </td>
    <td>
        <% if google_analytic.toefl %>
        <%= link_to google_analytic.toefl, "/google_analytics/show_traffic?dt=#{google_analytic.current_date}&t=2" %>
        <% end %>
    </td>
    <td>
        <% if google_analytic.gre%>
        <%= link_to google_analytic.gre, "/google_analytics/show_traffic?dt=#{google_analytic.current_date}&t=1"%>
        <% end %>
    </td>
    <td>
        <% if google_analytic.ielts%>
        <%= link_to google_analytic.ielts, "/google_analytics/show_traffic?dt=#{google_analytic.current_date}&t=3"%>
        <% end %>
    </td>
    <td>
        <% if google_analytic.liuxue%>
        <%= link_to google_analytic.liuxue, "/google_analytics/show_traffic?dt=#{google_analytic.current_date}&t=4"%>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<%=h will_paginate @google_analytics, :previous_label => '上一页',  :next_label => '下一页'%>
