<h1>Listing google_analytics</h1>

<table border="1">
  <tr>
    <th>日期</th>
    <th>唯一访问者</th>
    <th>浏览产品人数</th>
    <th>产品浏览页面数</th>
    <th>平均访问页面数</th>
    <th>目标1转化率</th>
    <th>产品停留时长(秒)</th>
    <th>产品页跳出率</th>
    <th>乐语点击量含qq</th>
    <th>目标2转化率</th>
  </tr>

<% @google_analytics.each do |google_analytic| %>
  <tr>
    <td><%= link_to google_analytic.current_date, google_analytic %></td>
    <td><%= google_analytic.unique_visitor %></td>
    <td><%= google_analytic.visit_product %></td>
    <td><%= google_analytic.product_page %></td>
    <td><%= google_analytic.average_page %></td>
    <td><%= google_analytic.conversion1 %></td>
    <td><%= google_analytic.stay_time %></td>
    <td><%= google_analytic.bounce_rate %></td>
    <td><%= google_analytic.click %></td>
    <td><%= google_analytic.conversion2 %></td>
  </tr>
<% end %>
</table>
