<p id="notice"><%= notice %></p>
<%= link_to 'Back', student_exams_path(@student) %>
<script type="text/javascript">
	$(function(){
	    $("div.holder").jPages({
	        containerID : "itemContainer"
	    });
	});
</script>

<div>试卷名称:<%= @exam.paper.name %></div>
<div>考试时间:<%= @exam.set_time %>分钟</div>
<div>开始时间:<%= @exam.start_time.strftime("%Y:%H:%M")  %></div>
<div>结束时间:<%= @exam.finish_time.strftime("%Y:%H:%M") %></div>


<div class="holder"></div>
<!-- display the paper -->
<% i=1 %>
<div id="itemContainer">
<% @words.each do |word| %>
    <div> <%= i %> : <%= word.content  %>
          <% word.meanings.each do |ms| %>
              <%= ms.content %>
          <% end %>
    </div>
    <% i = i+1 %>
<% end %>
</div>
<div class="holder"></div>

