<%= form_for(@word_category) do |f| %>
  <% if @word_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_category.errors.count, "error") %> prohibited this word_category from being saved:</h2>

      <ul>
      <% @word_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "名称"%><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc, "描述"%><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
