<!DOCTYPE html>
<html>
<head>
  <title>Xmadweb</title>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="<%= Xmadweb::Application.config.staticfile_server_url %>jquery/jquery-ui-1.8.18.custom.min.js"></script>  
  <script type="text/javascript" src="<%= Xmadweb::Application.config.staticfile_server_url %>jquery_ujs.js"></script>
  <script type="text/javascript" src="<%= Xmadweb::Application.config.staticfile_server_url %>jquery/jquery-ui-timepicker-addon.js"></script>
  <link rel="stylesheet" href="<%= Xmadweb::Application.config.staticfile_server_url %>jquery/ui-lightness/jquery-ui-1.8.18.custom.css" type="text/css"/>
  <link rel="stylesheet" href="<%= Xmadweb::Application.config.staticfile_server_url %>style.css" type="text/css"/>
  <style type="text/css" media="screen">
  	/* css for timepicker */
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- 导航 -->
	<div class="top-nav">
	  <div class="bd">
		<div class="top-nav-info">
			<% if user_signed_in? %>
		    您好,<%= current_user.name %>,[我的职位是<%= current_user.rolename %>]
		    <%= link_to "[退出]", destroy_user_session_path, :method => :delete %>
			<% else %>
			<%= link_to "[登录]", new_user_session_path, :method => :get %>
			<% end %>	
		</div>


	    <div class="top-nav-items">
	        <ul>
	                    
	                    <li>
	                    <%= link_to "学生管理", students_path %>
	                    </li>


	                    <li>
	                    <%= admins_only do %><%= link_to "后台管理", admin_root_path %><% end %>
	                    </li>
						
						<li>
						<%= admins_only do %><%= link_to "用户管理", admin_users_path %><% end %>
						</li>

	        </ul>
	    </div>
	  </div>
	</div>
	<!-- 导航 end -->
	
	<!-- devise的提示信息 start -->
	
		<% if flash[:notice] %>
		<p class="notice"><%= notice %></p>
		<% end %>
		<% if flash[:alert] %>
		<p class="alert"><%= alert %></p>
		<% end %>
		<% if flash[:error] %>
		<p class="error"><%= flash[:error] %></p>
		<% end %>
		<% if flash[:success] %>
		<p class="success"><%= flash[:success] %></p>
		<% end %>
	<!-- devise的提示信息 end -->
	
<%= yield %>

</body>
</html>
